/*
 Theme Name:   Touchfolio
 Description:  Cosmic Child Theme
 Author:       Gerald Kogler
 Author URI:   http://go.yuri.at
 Template:     touchfolio
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  touchfolio-child
*/

/************ FONTS ************/
@font-face {
    font-family: "FagoWeb";
    src: url("fonts/FagoWeb.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FagoWeb";
    src: url("fonts/FagoWeb-Bold.woff") format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "FagoWeb";
    src: url("fonts/FagoWeb-BoldIta.woff") format('woff');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "FagoWeb";
    src: url("fonts/FagoWeb-Ita.woff") format('woff');
    font-style: italic;
    font-weight: normal;
}

body {
  font-family: "FagoWeb";
  font-size: 14px;
}

.albums-thumbnails .project-title, .album-info-block h3.album-title {
  font-size: 14px;
  margin-bottom: 0.2em;
  font-weight: bold;
  margin-top: 0;
}

.albums-thumbnails .project-description {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

a, a:link, a:visited, a:active, a:focus {
  color: #3B3A37;
}

p a {
    border-bottom: none;
}

/************ MENU ************/
.logo {
  margin: 0;
}

.logo a:hover {
  opacity:1;
}

.menu {
  margin: 0;
}

.menu li {
  
}

.menu a, .menu a:hover {
  border:none;
}

.main-header {
    margin-left: 0;
    padding: 0;
    width: 151px;
}

#menu-principal {
  margin-top: 20px;
  margin-left: 38px;
}

#menu-principal #menu-item-165 a, #menu-principal #menu-item-174 a, #menu-principal #menu-item-173 a {
  font-weight: bold;
}

#menu-principal .menu-item a, .wpm-language-switcher li a {
  font-weight: normal;
  font-size: 14px;
}

.wpm-language-switcher {
  margin-left: 38px !important;
}

.wpm-language-switcher li.active {
  display: none;
}

/************ MASONRY ************/
.page-template-ds-gallery-masonry-template-php .albums-thumbnails {
  width: 100% !important;
}

.page-template-ds-gallery-masonry-template #primary, .page #primary {
  padding: 12px 163px;
}

.page-template-ds-gallery-masonry-template .albums-thumbnails .project-thumb-inside {
  padding: 0;
  border: none;
}

.page-template-ds-gallery-masonry-template .albums-thumbnails img {
  width: 316px;
}

.ds-gallery-page .two-dim-slider {
  left: 0;
  padding: 0;
}

.ds-gallery-page .main-header {
  background: transparent;
  float: none;
  height: auto;
}

.project-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  visibility: hidden;
  opacity: 0;
  padding: 20px;
}

.no-touch .project-thumb-inside:hover .project-text {
  visibility: visible;
  opacity: 1;
}

.project-title, .project-description {
  color: #fff !important;
}

.albums-thumbnails a.project-thumb {
  width: 316px;
}

.project-thumb-sizer {
  width: 20%;
}

/************ PAGE ************/
.two-dim-slider .arrow-left .icon-bg .icon, .two-dim-slider .arrow-right .icon-bg .icon {
  background-color: transparent;
}

.two-dim-slider .arrow-left a .info-text, .two-dim-slider .arrow-right a .info-text {
  background-color: transparent;
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;
}

.two-dim-slider .arrow-left a .info-text-visible  {
  visibility: visible;
  opacity: 1;
}

.page header.entry-header {
  display:none;
}

.entry-content p {
    text-align: left;
}

.album-info-block .album-content {
  font-size: 14px;
}

.social-media {
  padding-top:10px;
}

.social-media img {
  width: 20px;
}

.social-media a {
    border-bottom: none;
}

/************ GENERAL ************/
#page {
  border-left: medium none;
}

.page-id-171 #primary, .page-id-290 #primary {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-id-171 #content, .page-id-171 .hentry, .page-id-171 .entry-content, .page-id-171 .entry-content p, .page-id-290 #content, .page-id-290 .hentry, .page-id-290 .entry-content, .page-id-290 .entry-content p {
    height: 100%;
}

.page-id-171 #contact-info, .page-id-290 #home-info {
  position: absolute;
  bottom: 0;
  padding: 38px;
  overflow: auto;
  background-color: #fff;
  max-width: 40em;
  width: 65%;
  text-align: left;
}

body.page-id-171, body.page-id-290 {
  overflow: hidden;
}

.page-id-171 .hentry, .page-id-290 .hentry {
    max-width: none;
}

.album-info-block, .two-dim-slider .slider-album-indicator {
  left:0;
  right:auto;
  bottom:0;
}

.slider-album-indicator{
  background-color: none;
}

.close-project, .item-count-indicator {
  display: none;
}

.album-description {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1.0em;
}

.album-info-block .info-container {
    padding: 38px;
}

.two-dim-slider .slider-album-indicator .album-info-text {
  padding: 38px;
  background-color: transparent;
}

.menu-button-icon {
  background: none;
}

a.menu-button, a.menu-button:hover, a.menu-button:active, a.menu-button:visited {
  width: 41px;
  height: 34px;
  background: url(img/menu-icon.png) no-repeat;
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.collapsed-layout .main-header .menu-button {
  margin: 18px 18px 0 0;
}

.two-dim-slider.smaller-collapsed-slider .slider-album-indicator .album-info-text {
  display: inline;
  width: auto;
  height: auto;
  float: none;
  text-indent: 0;
  background: none;
  background-color: none;
  text-decoration: none;
  padding: 38px;
}

.two-dim-slider .arrow-left .icon-bg .icon {
    margin-left: 0;
    background-position: 65px 65px;
}

.two-dim-slider .arrow-right .icon-bg .icon {
    margin-left: -20px;
    background-position: 0 65px;
}

.two-dim-slider .slider-controls .arrow-left .icon-bg .icon {
  background-image: url(img/4_Flechas_Cosmic.png);
  width: 65px;
  height: 65px;
  transition: none;
}

.two-dim-slider .slider-controls .arrow-right .icon-bg .icon {
  background-image: url(img/4_Flechas_Cosmic.png);
  width: 65px;
  height: 65px;
  transition: none;
}

.two-dim-slider .arrow-left.prev-album-arrow .icon-bg .icon {
  background-position: -65px 0px;
}

.two-dim-slider .arrow-left a .info-text {
  left: 0px;
  top: 69px;
  text-align: center;
  white-space: normal;
}

.two-dim-slider .arrow-right a .info-text {
  top: -43px;
  right: 9px;
  white-space: normal;
  text-align: center;
}

/****************
 * fullscreen video
 ****************/
.vidbg-container {
  z-index: 0 !important;
}

/****************
 * cookies
 ****************/
#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top.moove-gdpr-light-scheme {
  border-bottom: 0 !important;
}
#moove_gdpr_cookie_info_bar.moove-gdpr-align-center {
  text-align: left !important;
}
.gdpr_cookie_settings_shortcode_content {
  font-family: "FagoWeb" !important;
}
#moove_gdpr_cookie_info_bar {
  left: auto !important;
  right: 0 !important;
  width: 300px !important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p, #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p a {
  font-weight: normal !important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content {
  padding: 0 !important;
  display: block !important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder {
  padding-left: 0 !important;
  padding-top: 15px;
  padding-bottom: 5px;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton {
  background-color: #000 !important;
  border-radius: 0 !important;
  line-height: 12px !important;
  margin-left: 0 !important;
  padding: 8px 50px !important;
}

/****************
 * media queries
 ****************/

@media only screen and (max-width: 1306px) {
  .page-template-ds-gallery-masonry-template #primary, .page #primary {
      padding-right: 12px;
  }

  .page-template-ds-gallery-masonry-template .albums-thumbnails img {
    width: 277px;
    height: 156px;
  }

  .albums-thumbnails a.project-thumb {
    width: 277px;
    height: 156px;
  }
}

@media only screen and (max-width: 746px) and (min-width: 415px) {
  .page-template-ds-gallery-masonry-template .albums-thumbnails img {
    width: 192px;
    height: 108px;
  }

  .albums-thumbnails a.project-thumb {
    width: 192px;
    height: 108px;
  }

  .info-container {
    padding: 12px;
  }

  .album-info-block {
    top: 0;
    bottom: auto;
  }

  h1.logo img {
    width: 70%;
    height: 70%;
  }

  #menu-principal {
    margin-top: 10px;
    margin-left: 27px;
  }

  .wpm-language-switcher {
    margin-top: 0px;
    margin-left: 27px !important;
  }

  .ds-gallery-page .main-header {
    top: 0px;
  }

  .menu {
    line-height: 16px;
  }
}

/* mobile */
@media only screen and (max-width: 746px) {
  #menu-principal {
    margin-top: 10px;
  }
  .two-dim-slider .slider-controls .arrow-left .icon-bg .icon,
  .two-dim-slider .slider-controls .arrow-right .icon-bg .icon {
    width: 32px;
    height: 32px;
    background-size: 65px;
  }
  .two-dim-slider .arrow-left .icon-bg .icon {
    background-position: 32px 32px;
  }
  .two-dim-slider .arrow-right .icon-bg .icon {
    background-position: 0 32px;
  }
  .two-dim-slider .arrow-left.prev-album-arrow .icon-bg .icon {
    background-position: -32px 0px;
  }

  .two-dim-slider .arrow-right .icon-bg .icon {
    margin-left: 0px;
  }

  .two-dim-slider.smaller-collapsed-slider .slider-album-indicator .album-info-text {
    padding-bottom: 10px;
    padding-left: 27px;
  }

  .two-dim-slider a span.info-text {
    display: none !important;
  }

  .page-id-30 #primary {
      padding-left: 27px;
      font-size: 14px;
  }

  .page-id-171 #contact-info, .page-id-290 #home-info {
    height: 40%;
  }
}

@media print {
  .menus-container, .slider-controls, .social-media, .video-overlay,
  #main-slider .top, #main-slider .bottom, #main-slider .left {
    display: none;
  }

  header h1:after {
      content: url(https://cosmic.es/wp-content/uploads/2015/10/header.png);
      position: absolute;
      left: 200px;
      top: 8px;
   }

   .album-info-block {
    position: absolute;
    top: 2cm;
    font-size:20pt;
   }

   #main-slider {
    margin-top: 10cm;
   }

  #main-slider img {
    width: 45% !important;
    height: 45% !important;
    float: left;
    margin: 0.5cm;
  }
}

#loadOverlay{display: none;}